{% extends 'schema.html'%}
{% block tile %} homepage {% endblock %}
{% block site %}

<section>
<h2>JavaScript Syntax</h2>
  <pre>
    &lt;script>

      Js code

    &lt;/script></pre>
</section>


Code Blocks - { } block<br>
<h3>Block Scope</h3>
<ul>
    <li>Global Scope</li>
    <li>Function Scope</li>
</ul>
Syntax<br>
        </ul>
            <li><ul><b><pre>if         Marks a block of statements to be executed on a condition</b></pre>
            </ul></li>
            <li><ul><b><pre>switch     Marks a block of statements to be executed in different cases</b></pre>
            </ul></li>
            <li><ul><b><pre>for        Marks a block of statements to be executed in a loop</b></pre>
            </ul></li>
            <li><ul><b><pre>function   Declares a function</b></pre>
            </ul></li>
            <li><ul><b><pre>return     Exits a function</b></pre>
            </ul></li>
            <li><ul><b><pre>try        Implements error handling to a block of statements</b></pre>
            </ul></li>
        </ul>
</ul>

                </li>
                <li>Declaring - Creating a variable
                    <ul>
                    <li>Assignment operator ( = )</li>
                    <li>Statement</li>
                    <li>Multi-line Statement</li>
                    <li>Semicolons ;<br>
                    </ul>
                </li>
                <li>Assignment operator ( = )</li>
                <li>Arithmetic operators ( + - * / )</li>
                <li>JavaScript Expressions</li>
                <li>Re-Declaring - Chanege variable values</li>
                <li>undefined value</li>
            </ul>
        </li>
    </ul>

    <h3>Comments</h3>
    <ul>
        <li>Single Line Comments</li>
        <pre style="color:darkgreen;">
    // Change heading:</pre>
        <li>Multi-line Comments</li>
        <pre style="color:darkgreen;">
    /*
    The code below will change
    the heading with id = "myH"
    and the paragraph with id = "myP"
    in my web page:
    */</pre>





    </ul>


    function object
    method function in object
    property property in object
    Window object


primitives Types 6


Concatenation string addiction

Scope
hoisting

literals
<h2>JavaScript extra info</h2>
<h2>JavaScript Character Set</h2>

<li>JavaScript uses the Unicode character set. </li>

{% endblock site %}