{% extends 'schema2.html'%}
<!---->
{% block tile %} 
	js_
{% endblock %}
                                                        <!--tree_name-->
{% block tree_name %}
	<a class="active" href="/js/">Java Script</a>
{% endblock tree_name %}
                                                        <!--tree_content-->
{% block tree_content %}
    {% for js_notes, js_link in js_zip %}
        {% if 'js00-glossary' == js_link %}
            <a type="active" class="list-group-item list-group-item-action list-group-item-dark disabled"
               style="font-size: x-small; height: 1px;" href='/js/{{ js_link }}'> {{ js_notes }}</a>
        {% else %}
            <a type="active" class="list-group-item list-group-item-action list-group-item-dark"
               style="font-size: x-small; height: 1px;" href='/js/{{ js_link }}'>{{ js_notes }}</a>
        {% endif %}
    {% endfor %}
{% endblock tree_content %}

                                                        <!--content-->
{% block content %}
	<main>
        <section>
            <br>
            <h2>JavaScript Syntax</h2>

            <table class="table table-dark table-striped table-sm" style="height: 1px">
                <tr>
                    <th style="text-align: center;">JavaScript Syntax</th>
                </tr>
                <tr>
                    <td style="text-align: center;">
                    &lt;script><br>
                    ...<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;Js code<br>
                    ...<br>
                    &lt;/script><br>
                    </td>
                </tr>
            </table>


        </section>


        Code Blocks - { } block<br>
        <h3>Block Scope</h3>
        <ul>
            <li>Global Scope</li>
            <li>Function Scope</li>
        </ul>
<!--                                    JavaScript Statements Keywords-->
        <table class="table table-dark table-striped table-sm" style="height: 1px">
            <tr>
                <th colspan="2" style="text-align: center;">JavaScript Statements Keywords</th>
            </tr>
            <tr>
                <td>if</td>
                <td>Marks a block of statements to be executed on a condition</td>
            </tr>
            <tr>
                <td>switch</td>
                <td>Marks a block of statements to be executed in different cases</td>
            </tr>
            <tr>
                <td>for</td>
                <td>Marks a block of statements to be executed in a loop</td>
            </tr>
            <tr>
                <td>function</td>
                <td>Declares a function</td>
            </tr>
            <tr>
                <td>return</td>
                <td>Exits a function</td>
            </tr>
            <tr>
                <td>try</td>
                <td>Implements error handling to a block of statements</td>
            </tr>
        </table>

        Syntax







                        </li>
                        <li>Declaring - Creating a variable
                            <ul>
                            <li>Assignment operator ( = )</li>
                            <li>Statement</li>
                            <li>Multi-line Statement</li>
                            <li>Semicolons ;<br>
                            </ul>
                        </li>
                        <li>Assignment operator ( = )</li>
                        <li>Arithmetic operators ( + - * / )</li>
                        <li>JavaScript Expressions</li>
                        <li>Re-Declaring - Chanege variable values</li>
                        <li>undefined value</li>
                    </ul>
                </li>
            </ul>

            <h3>Comments</h3>
            <ul>
                <li>Single Line Comments</li>
                <pre style="color:darkgreen;">
            // Change heading:</pre>
                <li>Multi-line Comments</li>
                <pre style="color:darkgreen;">
            /*
            The code below will change
            the heading with id = "myH"
            and the paragraph with id = "myP"
            in my web page:
            */</pre>





            </ul>


            function object
            method function in object
            property property in object
            Window object


        primitives Types 6

        <h2>JavaScript Statements</h2>
        <p>A <b>JavaScript program</b> is a list of <b>statements</b> to be executed by a computer.</p>
        Concatenation string addiction

        Scope
        hoisting

        literals
        <h2>JavaScript extra info</h2>
        <h2>JavaScript Character Set</h2>

        <li>JavaScript uses the Unicode character set. </li>

        <!-- JavaScript Comments -->
        <h1>JavaScript Comments</h1>
        <h3>Single Line Comments</h3>
        // Change heading:
        document.getElementById("myH").innerHTML = "My First Page";
        <h3>Multi-line Comments</h3>
        /*
        The code below will change
        the heading with id = "myH"
        and the paragraph with id = "myP"
        in my web page:
        */

    </main>
{% endblock content %}