{% extends 'schema2.html'%}

{% block tile %} 
	js_
{% endblock %}

{% block tree_name %}
	<a class="active" href="/js/">Java Script</a>
{% endblock tree_name %}

{% block tree_content %}
    {% for js_notes, js_link in js_zip %}
        {% if 'js01-syntax' == js_link %}
            <a type="active" class="list-group-item list-group-item-action list-group-item-dark disabled"
               style="font-size: x-small; height: 1px;" href='/js/{{ js_link }}'> {{ js_notes }}</a>
        {% else %}
            <a type="active" class="list-group-item list-group-item-action list-group-item-dark"
               style="font-size: x-small; height: 1px;" href='/js/{{ js_link }}'>{{ js_notes }}</a>
        {% endif %}
    {% endfor %}
{% endblock tree_content %}

{% block content %}
	<main>
        <!-- JavaScript Syntax -->
        <h3>How to create variables:</h3>
        var x;<br>
        let y;<br>
        <h3>How to use variables:</h3>
        x = 5;<br>
        y = 6;<br>
        let z = x + y;<br>
        <h3>JavaScript Values:</h3>
        Fixed values: are called Literals.<br>
        Variable values: values are called Variables.<br>
        <h3>JavaScript Literals:</h3>
        1. Numbers are written with or without decimals:<br>
        <li>10.50</li>
        <li>1001</li>
        2. Strings are text, written within double or single quotes:<br>
        <li>"John Doe"</li>
        <li>'John Doe'</li>
        <h3>JavaScript Variables</h3>
        In a programming language, variables are used to store data values.
        JavaScript uses the keywords var, let and const to declare variables.
        An equal sign is used to assign values to variables.<br>
        let x;<br>
        x = 6;<br>
        <h3>JavaScript Expressions</h3>
        An expression is a combination of values, variables, and operators, which computes to a value.
        The computation is called an evaluation.<br>
        5 * 10<br>
        x * 10<br>
        "John" + " " + "Doe"<br>
        <h3>JavaScript Keywords</h3>
        let x, y;<br>
        x = 5 + 6;<br>
        y = x * 10;<br><br>
        var x, y;<br>
        x = 5 + 6;<br>
        y = x * 10;<br>
        <h3>JavaScript Comments</h3>
        <p>"let x = 5;   // I will be executed"<br></p>
        <p>'// x = 6;   I will NOT be executed'<br></p>
        <h3>Identifiers</h3>
        In JavaScript, identifiers are used to name variables (and keywords, and functions, and labels).
        <li>Numbers are not allowed as the first character.</li>
        <li>Subsequent characters may be letters, digits, underscores, or dollar signs.</li>
        <li>JavaScript is Case Sensitive</li>
        <li>Reserved words (like JavaScript keywords) cannot be used as names</li>
        <h3>JavaScript and Camel Case</h3>

        JavaScript programmers tend to use camel case that starts with a lowercase letter:<br>
        firstName, lastName, masterCard, interCity.<br>
        <h3>JavaScript Character Set</h3>
        JavaScript uses the Unicode character set.
    </main>
{% endblock content %}