<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/4fb6391acf.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
body {
    background-color: silver;
}
table, th, td {
    border: 2px solid green;
    border-collapse: collapse;
    }
table {   
    width:100%;
    height:450px;
}
    </style>
</head>

<body>
<!-- Variables -->
<h2>Variable</h2>
<ul><li>Identifiers</li>
    <li>memory allocation</li>
    <li>value(assign from constants called literals)</li>
        <ul>
            <li>literals</li>
            <ul>
                <li>Numbers</li>
                <li>Strings</li>
            </ul>
            <li>function already defined</li>
            <li>function result</li>
            <li>operation</li>
        </ul>
</ul>
<!-- Variable keywords -->
<h3>Declaring Variable Keywords</h3>
<ul>
    <li><b><pre>var        Declares a variable.</b></pre>
    <li><b><pre>let        Declares a block variable</b></pre> 
    <li><b><pre>const      Declares a block constant</b></pre>
<!-- Table with creating variable keywords comparison -->
  <section class=center id='variableKeywordComparison'>
    <h3>variable keyword comparison</h3>
    <table>
        <thead>
          <tr>
            <th></th>
            <th>var</th>
            <th>let</th>
            <th>cons</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Global</td>
            <td>always</td>
            <td>out blocks and function</td>
            <td>out blocks and function</td>
          </tr>
          <tr>
            <td>Local</td>
            <td>never</td>
            <td>in blocks or function</td>
            <td>in blocks or function</td>
          </tr>
          <tr>
            <td>Re-Declaration</td>
            <td>True</td>
            <td>Error</td>
            <td>Error</td>
          </tr>
          <tr>
            <td>Hoisting</td>
            <td>True</td>
            <td>False</td>
            <td>False</td>
          </tr>
          <tr>
            <td>Creating Global<br>Setings in Window</td>
            <td>True</td>
            <td>False</td>
            <td>False</td>
          </tr>
          <tr>
            <td>Secure Value Simply Tape</td>
            <td>False</td>
            <td>False</td>
            <td>True</td>
          </tr>
          <tr>
            <td>Secure Value of Object</td>
            <td>False</td>
            <td>False</td>
            <td>False</td>
          </tr>
          <tr>
            <td>Undefined Value</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>Error</td>
          </tr>
          <tr>
            <td>When Declaration</td>
            <td>Rare! In specyfic<br>sutuation</td>
            <td>Offen! If not Const, and <br>need property. For loop</td>
            <td>Always! When you dont want<br>to change value in Program</td>
          </tr>
        </tbody>
    </table>
  </section>
      
</body>
</html>
