<!DOCTYPE html>
<html>
<head>
    <style>
body {
    background-color: silver;
}
table, th, td {
    border: 2px solid green;
    border-collapse: collapse;
    }
table {   
    width:100%;
    height:450px;
}
.center {
    text-align: center;
}
.purpleBeg {
    background-color: rgb(101, 82, 136);
}
    </style>




</head>


<body>

<section id=Operators>
    <h2>Operators</h2>
    <h3>Operators by Type</h3>
    <table>
        <tbody>
            <td>
                <ul>
                    <li>Arithmetic  Operators</li>
                    <ul>
                        <li><pre>+         Addition</pre></li>
                        <li><pre>-         Subtraction</pre></li>
                        <li><pre>*         Multiplication</pre></li>
                        <li><pre>/         Division</pre></li>
                        <li><pre>%         Remainder</pre></li>
                        <li><pre>**        Exponentiation</pre></li>
                        <li><pre>++        Increment</pre></li>
                        <li><pre>--        Decrement</pre></li>
                    </ul>
                    <li>Assignment Operators</li>
                    <ul>
                        <li><pre>=          Assignment operator             a = 7; // 7</pre></li>
                        <li><pre>+=         Addition assignment             a += 5; // a = a + 5</pre></li>
                        <li><pre>-=         Subtraction Assignment          a -= 2; // a = a - 2</pre></li>
                        <li><pre>*=         Multiplication Assignment       a *= 3; // a = a * 3</pre></li>
                        <li><pre>/=         Division Assignment             a /= 2; // a = a / 2</pre></li>
                        <li><pre>%=         Remainder Assignment            a %= 2; // a = a % 2</pre></li>
                        <li><pre>**=        Exponentiation Assignment       a **= 2; // a = a**2</pre></li>
                        <li><pre>&lt;&lt;=</pre></li>
                        <li><pre>>>=</pre></li>
                        <li><pre>>>>=</pre></li>
                        <li><pre>&=</pre></li>
                        <li><pre>^=</pre></li>
                        <li><pre>|=</pre></li>
                    </ul>
                </ul>        

                
            </td>
            <td>
            <ul>
                <li>Comparison Operators</li>
                <ul>
                    <li><pre>==	equal to</pre></li>
                    <li><pre>===	equal value and equal type</pre></li>
                    <li><pre>!=	not equal</pre></li>
                    <li><pre>!==	not equal value or not equal type</pre></li>
                    <li><pre>>	greater than</pre></li>
                    <li><pre>&lt;	less than</pre></li>
                    <li><pre>>=	greater than or equal to</pre></li>
                    <li><pre>&lt;=	less than or equal to</pre></li>
                    <li><pre>?	ternary operator</pre></li>
                </ul>
                <li>Logical Operators</li>
                <ul>
                    <li><pre>&&	logical and</pre></li>
                    <li><pre>&lt;||	logical or</pre></li>
                    <li><pre>!	logical not</pre></li>                    
                </ul>
                <li>Type Operators</li>
                <ul>
                    <li><pre>typeof	Returns the type of a variable</pre></li>
                    <li><pre>Returns true if an object is an instance of an object type</pre></li>
                </ul>
                <li>Bitwise Operators</li>
                <ul>
                    <li><pre>&lt;&lt;&	AND	                5 & 1	  0101 & 0001	0001	  1</pre></li>
                    <li><pre>|	OR	                5 | 1	  0101 | 0001	0101	  5</pre></li>
                    <li><pre>~	NOT	                ~ 5	 ~0101	 1010	 10</pre></li>
                    <li><pre>^	XOR	                5 ^ 1	  0101 ^ 0001	0100	  4</pre></li>
                    <li><pre>&lt;&lt;	Zero fill left shift	5 &lt;&lt; 1	  0101 &lt;&lt; 1	1010	 10</pre></li>
                    <li><pre>>>	Signed right shift	5 >> 1	  0101 >> 1	0010	  2</pre></li>
                    <li><pre>>>>	Zero fill right shift	5 >>> 1	  0101 >>> 1	0010	  2</pre></li>
                </ul>
                <ul><li>String Operators</li>
            
                </ul>
                <ul><li>Other Operators</li>
            </ul>
            </td>



        </tbody>
    </table>
    
    <h3>Operators in Prioriyty</h3>
    <table>
        <tbody><tr>
        <th>Operator type</th>
        <th>Indywidual operator</th>
        </tr>
        <tr>
        <td>comma</td>
        <td>,</td>
        </tr>
        <tr>
        <!-- Assigment row -->
        <td>Assigment </td>
        <td><pre>
        =           Assignment operator
        +=	    Addition assignment
        -=	    Subtraction Assignment
        *=	    Multiplication Assignment
        /=	    Division Assignment
        %=	    Remainder Assignment
        **=	    Exponentiation Assignment
        &lt;&lt;=
        &gt;&gt;=
        &gt;&gt;&gt;=
        &amp;=
        ^=
        |=</pre>
        </td>

        </td>
        </tr>
        <tr>
        <td>ternary operator</td>
        <td>?:</td>
        </tr>
        <tr>
        <td>Logical "OR" </td>
        <td>||</td>
        </tr>
        <tr>
        <td>Logical "AND"</td>
        <td>&amp;&amp;</td>
        </tr>
        <tr>
        <td>Bitwise "OR"</td>
        <td>|</td>
        </tr>
        <tr>
        <td>Bitwise "XOR" </td>
        <td>^</td>
        </tr>
        <tr>
        <td>Bitwise "AND"</td>
        <td>&amp;</td>
        </tr>
        <!-- Comparison row -->
        <tr>
        <td>Comparison</td>
        <td><pre>
        ==      equal to
        ===     equal value and equal type
        !=      not equal
        !==     not equal value or not equal type
        >       greater than
        &lt       less than
        >=      greater than or equal to
        &lt=      less than or equal to
        ?       ternary operator</pre>
        </tr>

        <tr>
        <td>relations</td>
        <td>&lt; &lt;= &gt; &gt;= in instanceof</td>
        </tr>
        <tr>
        <td>Bitwise shift</td>
        <td>&lt;&lt; &gt;&gt; &gt;&gt;&gt;</td>
        </tr>
        <tr>
        <td>Arithmetical Addiction/Subtraction </td>
        <td>+ - </td>
        </tr>
        <tr>
        <td>Arithmetical Multiplication/Division/Modulus </td>
        <td>* /&nbsp;%</td>
        </tr>
        <tr>
        <td>Logical Not/inkrementacja/dekrementacja </td>
        <td><pre>
            ! Logical Not
            ~ 
            - 
            + 
            ++ Arithmetical Increment
            -- Arithmetical Decrement
            typeof 
            void 
            delete</pre>
        </td>
        </tr>
        <tr>
        <td>name / creating samples </td>
        <td>() new</td>
        </tr>
        <tr>
        <td>memory </td>
        <td>. []</td>
        </tr>
        </tbody></table>
</section>


</body>
</html>