{% extends 'schema.html'%}
{% block tilt %} homepage {% endblock %}
{% block site %}



<section>
    <br>
    <div class="container-fluid p-5 bg-dark text-white text-center">
        <h1>Welcome in Grant Note</h1>
    </div>
    <br>
    <div class="container-fluid p-5 bg-dark text-white text-center">
        Web app for educational and training purpose
    </div>
    <br>
    <br>
    <div class="container-fluid p-5 bg-dark text-white text-center">
        <i class="fas fa-10x fa-book-reader"></i>
    </div>
</section>















{% endblock %}