{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "gn_head.html" %}
    <title>{% block title %} {% endblock title %}</title>
</head>

<body>
<!--Head Bar-->

{% include "gn_headbar.html" %}

<!--End of Head Bar-->

<div class="container-fluid" style="width:auto">
<div class="row">
    <!--Left Side Bar-->
    <div class="col-sm-2">
        <div class="row bg-success">
            <a class="btn btn-outline-dar" href="/bs/" style="text-align=center;">
                {% block tree_name %} {% endblock tree_name %}
            </a>
        </div>

        {% block tree_content %} {% endblock tree_content %}
    </div>
    <!--End of Left Side Bar-->


    <!--  Main Content-->
    <div class="col-sm-9">
        {% block content %} {% endblock content %}
    </div>
    <!--   End Content   -->
</div>
</div>

</body>
</html>